* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #ededed;
    min-height: 100%;
}

body {
    font-family: 'Fira Sans Condensed', sans-serif;
}

header {
    text-align: center;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: 0 0 10px #dbdbdb;
}

div {
    display: flex;
    position: relative;
    flex-direction: column;
}

#input-fields {
    text-align: center;
    background-color: white;
    position: absolute;
    margin-top: 3.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: 0 0 10px #dbdbdb;
}

#label, #date, #time {
    width: 50%;
    margin-bottom: 10px;
}

h1,
h2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

h1 {
    margin: 0;
    display: inline-block;
}

h2 {
    background-color: white;
    margin-top: 1rem;
    padding-left: 1rem;
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: 0 0 10px #dbdbdb;
}

input {
    padding-left: 5px;
}

.button {
    margin-right: 1rem;
    right: 0;
    float: right;
    background: none;
    border: none;
  	position: absolute;
  	top: 50%;
        transform: translateY(-40%);
    
}

#cancel-btn {
    margin-left: 1rem;
    left: 0;
    float: left;
    background: none;
    border: none;
  	position: absolute;
  	top: 50%;
  	transform: translateY(-30%);
    font-size: 1rem;
    color: #0070cc;
}

#save-btn {
    font-size: 1rem;
    color: #0070cc;
}

.remove-btn {
    background: none;
    border: none;
    float: right;
    font-size: 1rem;
    margin-top: -1.5rem;
    padding-right: 1rem;
    color: #0070cc;
}

p {
    text-align: left;
}

#notification-div{
    margin-top: 1.5rem;
}

.fa-plus-circle {
    font-size: 1.5rem;
    color: #0070cc;
}

.page {
    display: none;
    padding: 2em;
    padding-left: 1em;
}

.active {
    display: block;
}